<form action=<%= @action %> method=<%= @method %> style="border: 1px red solid;">
	<input type="text" name="title" value="<%= @value %>" placeholder="<%= @placeholder %>">
	<button type="submit"><%= @buttontext %></button>
</form>