<form action=<%= @action %> method=<%= @method %> class="accent">
	<input type="text" name="title" value="<%= @value %>" placeholder="<%= @placeholder %>">
	<button type="submit"><%= @buttontext %></button>
</form>